                {% block datatable_controls %}
                <td class="datatable-controls">
                    <a href="#" class="edit" alt="{{ 'edit' }}">
                        <i class="icon-edit pull-left"></i>
                    </a>
                    <a href="#" class="view" alt="{{ 'view' }}">
                        <i class="icon-eye-open pull-left"></i>
                    </a>
                    <a href="#" class="delete" alt="{{ 'delete' }}">
                        <i class="icon-trash pull-left"></i>
                    </a>
                </td>
                {% endblock %}
