<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>686 Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/portfolio.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>
	
	<div class="container">
			
		<div class="masthead clearfix">
						
			<h1 class="pull-left"><i class="icon-bookmark icon-large"></i><br />Portfolio</h1>
							
			<ul class="nav nav-pills pull-right">
				<li class="active">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="work.html">Work</a>
				</li>
				<li>
					<a href="1-column.html">About</a>
				</li>
				<li>
					<a href="2-column.html">Services</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
					
		</div>
		
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
			<div class="active item item1">
				<p class="caption">Make your work look amazing</p>
			</div>
			<div class="item item2">
				<p class="caption">Make your work look amazing</p>
			</div>
			<div class="item item3">
				<p class="caption">Make your work look amazing</p>
			</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		
		<div class="row home-columns">
			
			<div class="span4 home-column clearfix">
				
				<i class="icon-th pull-left"></i>
				<div class="content">
					<h2>Responsive Grid</h2>
					<p>The theme is based on a responsive grid, ensuring your content looks amazing no matter what device your customer is looking at it on</p>
				</div>
				
			</div>
			
			<div class="span4 home-column clearfix">
				
				<i class="icon-sitemap pull-left"></i>
				<div class="content">
					<h2>6 Template Types</h2>
					<p>You get a <a href="indx.html">homepage</a>, <a href="work.html">work section</a>, <a href="1-column.html">1 column layout</a>, <a href="2-column.html">2 column layout</a> and a <a href="contact.html">contact page</a>. Build the perfect portfolio site!</p>
				</div>
				
			</div>
			
			<div class="span4 home-column clearfix">
				
				<i class="icon-picture pull-left"></i>
				<div class="content">
					<h2>Slideshow</h2>
					<p>Show off your best work on the homepage in a slideshow that is easily customisable, and easy to add to any other page!</p>
				</div>
				
			</div>
			
		</div>
	
	</div>
	
	<div class="footer">
	
		<div class="container">
		
			<div class="row">
			
				<div class="span4">
				
					<h3>Links</h3>
					<ul class="footer-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="work.html">Work</a>
						</li>
						<li>
							<a href="1-column.html">About</a>
						</li>
						<li>
							<a href="2-column.html">Services</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				
				</div>
			
				<div class="span4">
				
					<h3>Newsletter</h3>
					<p>Join our newsletter and be the first to know about our latest news and special offers</p>
					<form class="form-inline">
					  <div class="input-append">
		                <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn btn-primary" type="button">Join</button>
		              </div>
					</form>
				</div>
			
				<div class="span4">
				
					<h3>Contact</h3>
					<p>If you have a question don't hesitate to get in touch:</p>
					<p>Address line 1<br />Address line 2<br />City<br />ZIP/Post Code</p>
					<p>
						<strong>Tel:</strong> 0123 456 789<br />
						<strong>Email:</strong> <a href="">info@website.com</a>
					</p>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
		
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>