<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>686 Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/portfolio.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>
	
	<div class="container">
			
		<div class="masthead clearfix">
						
			<h1 class="pull-left"><i class="icon-bookmark icon-large"></i><br />Portfolio</h1>
							
			<ul class="nav nav-pills pull-right">
				<li>
					<a href="index.html">Home</a>
				</li>
				<li class="active">
					<a href="work.html">Work</a>
				</li>
				<li>
					<a href="1-column.html">About</a>
				</li>
				<li>
					<a href="2-column.html">Services</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
					
		</div>
		
		<div id="myCarousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
			<div class="active item item1">
				<p class="caption">Make your work look amazing</p>
			</div>
			<div class="item item2">
				<p class="caption">Make your work look amazing</p>
			</div>
			<div class="item item3">
				<p class="caption">Make your work look amazing</p>
			</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		
		<div class="row work-columns">
			
			<div class="span9">
			
				<div class="content rightline">
				
				<h1>Project Title</h1>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget quam sit amet nisl dictum blandit. Sed cursus arcu eu libero posuere suscipit. Pellentesque ultricies, sem at varius aliquam, neque sapien placerat orci, a consequat elit neque suscipit velit. In sed ipsum elit. Vivamus nec orci nisi, ac vehicula dui. Donec lacinia nunc nec nulla egestas eget interdum ligula ullamcorper. Curabitur a tortor et nisi feugiat eleifend sit amet quis ligula. Suspendisse eu hendrerit turpis. Nullam at nisi sed urna dignissim mollis. Integer quis turpis vel nisi mollis fringilla ac in magna. Duis tempus dolor in nisi tristique bibendum.</p>
				
				<h2>Project Sub Title</h2>
				
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Nullam non massa sit amet nunc consectetur venenatis in sit amet turpis.</li>
					<li>Cras imperdiet elit ut mauris commodo varius.</li>
					<li>Vestibulum quis mi non tortor mattis volutpat sit amet feugiat augue.</li>
					<li>Etiam pharetra ipsum et nulla semper eleifend.</li>
					<li>Fusce commodo sapien at tortor rutrum ultrices.</li>
				</ul>
				
				<p>Sed fermentum metus rutrum metus sagittis vel rhoncus dui congue. Suspendisse elementum nisl et ante fermentum elementum. Phasellus vitae dui vel risus venenatis vestibulum. Quisque tellus erat, volutpat non tempus in, consectetur imperdiet nisl. Mauris feugiat, nibh vitae malesuada sollicitudin, dolor ipsum sodales neque, ut ultricies lorem magna et ante. In porttitor quam semper turpis faucibus dictum. Donec imperdiet, purus nec condimentum varius, diam augue posuere erat, vitae rutrum lacus erat et nibh. Nam a massa at dui sodales lobortis ut quis ante.</p>
				
				</div>
				
			</div>
			
			<div class="span3">
				
				<div class="content">
				
					<h2>Services Provided</h2>
					
					<ul class="services-list">
						<li><i class="icon-ok"></i> Lorem ipsum dolor</li>
						<li><i class="icon-ok"></i> Nullam non massa</li>
						<li><i class="icon-ok"></i> Cras imperdiet</li>
						<li><i class="icon-ok"></i> Vestibulum quis mi</li>
						<li><i class="icon-ok"></i> Etiam</li>
						<li><i class="icon-ok"></i> Fusce commodo</li>
					</ul>
					
				</div>
				
			</div>
			
		</div>
	
	</div>
	
	<div class="footer">
	
		<div class="container">
		
			<div class="row">
			
				<div class="span4">
				
					<h3>Links</h3>
					<ul class="footer-nav">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="work.html">Work</a>
						</li>
						<li>
							<a href="1-column.html">About</a>
						</li>
						<li>
							<a href="2-column.html">Services</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				
				</div>
			
				<div class="span4">
				
					<h3>Newsletter</h3>
					<p>Join our newsletter and be the first to know about our latest news and special offers</p>
					<form class="form-inline">
					  <div class="input-append">
		                <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn btn-primary" type="button">Join</button>
		              </div>
					</form>
				</div>
			
				<div class="span4">
				
					<h3>Contact</h3>
					<p>If you have a question don't hesitate to get in touch:</p>
					<p>Address line 1<br />Address line 2<br />City<br />ZIP/Post Code</p>
					<p>
						<strong>Tel:</strong> 0123 456 789<br />
						<strong>Email:</strong> <a href="">info@website.com</a>
					</p>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
		
	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>